footer {
    height: 100vh;
    background-image: url(../img/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    padding-top: 95vh;

}

.copy {
    color:  white;
}